body {
  background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
  min-width: 775px;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(34, 30, 30);
  margin: 20px 60px 20px 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: white;
  align-items: center;
}

h1 {
  color: lightgreen;
}

h2 {
  color: lightblue;
  margin-left: 60px;;
}

header {
  text-align: center;
}


